[submodule "status_effects"]
	path = status_effects
	url = https://github.com/fluxionary/minetest-status_effects.git
[submodule "persistent_monoids"]
	path = persistent_monoids
	url = https://github.com/fluxionary/minetest-persistent_monoids.git
[submodule "fmod"]
	path = fmod
	url = https://github.com/fluxionary/minetest-fmod.git
[submodule "futil"]
	path = futil
	url = https://github.com/fluxionary/minetest-futil.git
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/minetest-mods/player_monoids.git
[submodule "std_effects"]
	path = std_effects
	url = https://github.com/fluxionary/minetest-std_effects.git
[submodule "canonical_name"]
	path = canonical_name
	url = https://github.com/fluxionary/minetest-canonical_name.git
[submodule "name_monoid"]
	path = name_monoid
	url = https://github.com/fluxionary/minetest-name_monoid.git
[submodule "balanced_diet"]
	path = balanced_diet
	url = https://github.com/fluxionary/minetest-balanced_diet.git
[submodule "balanced_nutrients"]
	path = balanced_nutrients
	url = https://github.com/fluxionary/minetest-balanced_nutrients.git
[submodule "balanced_nutrient_overrides"]
	path = balanced_nutrient_overrides
	url = https://github.com/fluxionary/minetest-balanced_nutrient_overrides.git
[submodule "limit_physics_monoids"]
	path = limit_physics_monoids
	url = https://github.com/fluxionary/minetest-limit_physics_monoids.git
[submodule "item_description_monoid"]
	path = item_description_monoid
	url = https://github.com/fluxionary/minetest-item_description_monoid.git
[submodule "item_monoids"]
	path = item_monoids
	url = https://github.com/fluxionary/minetest-item_monoids.git
[submodule "hp_monoids"]
	path = hp_monoids
	url = https://github.com/fluxionary/minetest-hp_monoids.git
[submodule "toolcap_monoids"]
	path = toolcap_monoids
	url = https://github.com/fluxionary/minetest-toolcap_monoids.git
[submodule "staminoid"]
	path = staminoid
	url = https://github.com/fluxionary/minetest-staminoid.git
[submodule "m"]
	path = m
	url = https://github.com/fluxionary/minetest-m.git
[submodule "choppy"]
	path = choppy
	url = https://github.com/fluxionary/minetest-choppy.git
[submodule "replacer_redo"]
	path = replacer_redo
	url = https://github.com/fluxionary/minetest-replacer_redo.git
[submodule "modinfo"]
	path = modinfo
	url = https://github.com/fluxionary/minetest-modinfo.git
[submodule "debuggery"]
	path = debuggery
	url = https://github.com/fluxionary/minetest-debuggery.git
[submodule "node_entity_queue"]
	path = node_entity_queue
	url = https://github.com/fluxionary/minetest-node_entity_queue.git
[submodule "item_magnet"]
	path = item_magnet
	url = https://github.com/fluxionary/minetest-item_magnet.git
[submodule "inventory_ores"]
	path = inventory_ores
	url = https://github.com/fluxionary/minetest-inventory_ores.git
[submodule "craftsystem"]
	path = craftsystem
	url = https://github.com/fluxionary/minetest-craftsystem.git
[submodule "builtin_overrides"]
	path = builtin_overrides
	url = https://github.com/fluxionary/minetest-builtin_overrides.git
[submodule "bucket_redo"]
	path = bucket_redo
	url = https://github.com/fluxionary/minetest-bucket_redo.git
[submodule "boomstick"]
	path = boomstick
	url = https://github.com/fluxionary/minetest-boomstick.git
[submodule "book_runner"]
	path = book_runner
	url = https://github.com/fluxionary/minetest-book_runner.git
[submodule "bones_redo"]
	path = bones_redo
	url = https://github.com/fluxionary/minetest-bones_redo.git
[submodule "action_queues"]
	path = action_queues
	url = https://github.com/fluxionary/minetest-action_queues.git
[submodule "tnt"]
	path = tnt
	url = https://github.com/fluxionary/minetest-tnt.git
[submodule "unified_inventory_plus"]
	path = unified_inventory_plus
	url = https://github.com/bousket/unified_inventory_plus.git
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory.git
[submodule "ethereal"]
	path = ethereal
	url = https://notabug.org/TenPlus1/ethereal.git
[submodule "farming"]
	path = farming
	url = https://notabug.org/TenPlus1/farming.git
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/fluxionary/minetest-moreblocks.git
[submodule "cottages"]
	path = cottages
	url = https://github.com/fluxionary/minetest-cottages.git
[submodule "snippets"]
	path = snippets
	url = https://gitlab.com/luk3yx/minetest-snippets.git
[submodule "hudbars"]
	path = hudbars
	url = https://codeberg.org/Wuzzy/minetest_hudbars.git
[submodule "worldedit"]
	path = worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas.git
[submodule "player_attributes"]
	path = player_attributes
	url = https://github.com/fluxionary/minetest-player_attributes.git
[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "cool_trees"]
	path = cool_trees
	url = https://github.com/runsy/cool_trees.git
[submodule "cheese"]
	path = cheese
	url = https://github.com/AnnalysaTheMinetester/cheese.git
[submodule "cucina_vegana"]
	path = cucina_vegana
	url = https://github.com/acmgit/cucina_vegana.git
[submodule "icecream"]
	path = icecream
	url = https://github.com/Can202/minetest_icecream.git
[submodule "maptools"]
	path = maptools
	url = https://github.com/minetest-mods/maptools.git
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://notabug.org/TenPlus1/mobs_redo.git
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://notabug.org/TenPlus1/mobs_animal.git
[submodule "sandwiches"]
	path = sandwiches
	url = https://notabug.org/Annalysa/sandwiches.git
[submodule "wine"]
	path = wine
	url = https://notabug.org/TenPlus1/wine.git
[submodule "wielded_light"]
	path = wielded_light
	url = https://github.com/minetest-mods/wielded_light.git
[submodule "mesecons_debug"]
	path = mesecons_debug
	url = https://github.com/minetest-monitoring/mesecons_debug.git
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/fluxionary/minetest-just_mesecons.git
[submodule "dreambuilder_hotbar"]
	path = dreambuilder_hotbar
	url = https://github.com/mt-mods/dreambuilder_hotbar.git
[submodule "bug_command"]
	path = bug_command
	url = https://github.com/fluxionary/minetest-bug_command.git
[submodule "broken_tools"]
	path = broken_tools
	url = https://github.com/fluxionary/minetest-broken_tools.git
