[submodule "status_effects"]
	path = status_effects
	url = https://github.com/fluxionary/minetest-status_effects.git
[submodule "persistent_monoids"]
	path = persistent_monoids
	url = https://github.com/fluxionary/minetest-persistent_monoids.git
[submodule "fmod"]
	path = fmod
	url = https://github.com/fluxionary/minetest-fmod.git
[submodule "futil"]
	path = futil
	url = https://github.com/fluxionary/minetest-futil.git
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/minetest-mods/player_monoids.git
[submodule "std_effects"]
	path = std_effects
	url = https://github.com/fluxionary/minetest-std_effects.git
[submodule "canonical_name"]
	path = canonical_name
	url = https://github.com/fluxionary/minetest-canonical_name.git
[submodule "name_monoid"]
	path = name_monoid
	url = https://github.com/fluxionary/minetest-name_monoid.git
[submodule "balanced_diet"]
	path = balanced_diet
	url = https://github.com/fluxionary/minetest-balanced_diet.git
[submodule "balanced_nutrients"]
	path = balanced_nutrients
	url = https://github.com/fluxionary/minetest-balanced_nutrients.git
[submodule "balanced_nutrient_overrides"]
	path = balanced_nutrient_overrides
	url = https://github.com/fluxionary/minetest-balanced_nutrient_overrides.git
[submodule "limit_physics_monoids"]
	path = limit_physics_monoids
	url = https://github.com/fluxionary/minetest-limit_physics_monoids.git
[submodule "description_monoids"]
	path = description_monoids
	url = https://github.com/fluxionary/minetest-description_monoids.git
[submodule "item_monoids"]
	path = item_monoids
	url = https://github.com/fluxionary/minetest-item_monoids.git
[submodule "toolcap_monoids"]
	path = toolcap_monoids
	url = https://github.com/fluxionary/minetest-toolcap_monoids.git
[submodule "staminoid"]
	path = staminoid
	url = https://github.com/fluxionary/minetest-staminoid.git
[submodule "m"]
	path = m
	url = https://github.com/fluxionary/minetest-m.git
[submodule "choppy"]
	path = choppy
	url = https://github.com/fluxionary/minetest-choppy.git
[submodule "replacer_redo"]
	path = replacer_redo
	url = https://github.com/fluxionary/minetest-replacer_redo.git
[submodule "modinfo"]
	path = modinfo
	url = https://github.com/fluxionary/minetest-modinfo.git
[submodule "debuggery"]
	path = debuggery
	url = https://github.com/fluxionary/minetest-debuggery.git
[submodule "node_entity_queue"]
	path = node_entity_queue
	url = https://github.com/fluxionary/minetest-node_entity_queue.git
[submodule "item_magnet"]
	path = item_magnet
	url = https://github.com/fluxionary/minetest-item_magnet.git
[submodule "inventory_ores"]
	path = inventory_ores
	url = https://github.com/fluxionary/minetest-inventory_ores.git
[submodule "craftsystem"]
	path = craftsystem
	url = https://github.com/fluxionary/minetest-craftsystem.git
[submodule "builtin_overrides"]
	path = builtin_overrides
	url = https://github.com/fluxionary/minetest-builtin_overrides.git
[submodule "bucket_redo"]
	path = bucket_redo
	url = https://github.com/fluxionary/minetest-bucket_redo.git
[submodule "boomstick"]
	path = boomstick
	url = https://github.com/fluxionary/minetest-boomstick.git
[submodule "book_runner"]
	path = book_runner
	url = https://github.com/fluxionary/minetest-book_runner.git
[submodule "bones_redo"]
	path = bones_redo
	url = https://github.com/fluxionary/minetest-bones_redo.git
[submodule "action_queues"]
	path = action_queues
	url = https://github.com/fluxionary/minetest-action_queues.git
[submodule "tnt"]
	path = tnt
	url = https://github.com/fluxionary/minetest-tnt.git
[submodule "unified_inventory_plus"]
	path = unified_inventory_plus
	url = https://github.com/bousket/unified_inventory_plus.git
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory.git
[submodule "ethereal"]
	path = ethereal
	url = https://notabug.org/TenPlus1/ethereal.git
[submodule "farming"]
	path = farming
	url = https://notabug.org/TenPlus1/farming.git
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/fluxionary/minetest-moreblocks.git
[submodule "cottages"]
	path = cottages
	url = https://github.com/fluxionary/minetest-cottages.git
	branch = rework
[submodule "snippets"]
	path = snippets
	url = https://gitlab.com/luk3yx/minetest-snippets.git
[submodule "hudbars"]
	path = hudbars
	url = https://codeberg.org/Wuzzy/minetest_hudbars.git
[submodule "worldedit"]
	path = worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas.git
[submodule "player_attributes"]
	path = player_attributes
	url = https://github.com/fluxionary/minetest-player_attributes.git
[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "cool_trees"]
	path = cool_trees
	url = https://github.com/runsy/cool_trees.git
[submodule "cheese"]
	path = cheese
	url = https://github.com/AnnalysaTheMinetester/cheese.git
[submodule "cucina_vegana"]
	path = cucina_vegana
	url = https://github.com/acmgit/cucina_vegana.git
[submodule "icecream"]
	path = icecream
	url = https://github.com/Can202/minetest_icecream.git
[submodule "maptools"]
	path = maptools
	url = https://github.com/minetest-mods/maptools.git
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://notabug.org/TenPlus1/mobs_redo.git
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://notabug.org/TenPlus1/mobs_animal.git
[submodule "sandwiches"]
	path = sandwiches
	url = https://notabug.org/Annalysa/sandwiches.git
[submodule "wine"]
	path = wine
	url = https://notabug.org/TenPlus1/wine.git
[submodule "wielded_light"]
	path = wielded_light
	url = https://github.com/minetest-mods/wielded_light.git
[submodule "mesecons_debug"]
	path = mesecons_debug
	url = https://github.com/minetest-monitoring/mesecons_debug.git
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/fluxionary/minetest-just_mesecons.git
[submodule "dreambuilder_hotbar"]
	path = dreambuilder_hotbar
	url = https://github.com/mt-mods/dreambuilder_hotbar.git
[submodule "bug_command"]
	path = bug_command
	url = https://github.com/fluxionary/minetest-bug_command.git
[submodule "broken_tools"]
	path = broken_tools
	url = https://github.com/fluxionary/minetest-broken_tools.git
[submodule "mobs_mime"]
	path = mobs_mime
	url = https://github.com/fluxionary/minetest-mobs_mime.git
[submodule "mobkit"]
	path = mobkit
	url = https://github.com/TheTermos/mobkit.git
[submodule "mob_core"]
	path = mob_core
	url = https://github.com/mt-mods/mob_core.git
[submodule "petz"]
	path = petz
	url = https://github.com/runsy/petz.git
[submodule "canned_food"]
	path = canned_food
	url = https://github.com/h-v-smacker/canned_food.git
[submodule "astral"]
	path = astral
	url = https://gitlab.com/cronvel/mt-astral.git
[submodule "group_any"]
	path = group_any
	url = https://github.com/C-C-Minetest-Server/group_any.git
[submodule "hbarmor"]
	path = hbarmor
	url = https://codeberg.org/Wuzzy/minetest_hbarmor
[submodule "random_spawn"]
	path = random_spawn
	url = https://github.com/fluxionary/minetest-random_spawn.git
[submodule "bonemeal"]
	path = bonemeal
	url = https://notabug.org/TenPlus1/bonemeal.git
[submodule "herbs"]
	path = herbs
	url = https://github.com/acmgit/herbs.git
[submodule "aotearoa"]
	path = aotearoa
	url = https://codeberg.org/erisMT/aotearoa.git
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores.git
[submodule "denseores"]
	path = denseores
	url = https://notabug.org/Oswald/denseores.git
[submodule "lapis"]
	path = lapis
	url = https://github.com/minetest-mods/lapis.git
[submodule "quartz"]
	path = quartz
	url = https://github.com/minetest-mods/quartz.git
[submodule "mobs_banshee"]
	path = mobs_banshee
	url = https://codeberg.org/Hamlet/mobs_banshee.git
[submodule "mobs_gazer"]
	path = mobs_gazer
	url = https://codeberg.org/Hamlet/mobs_gazer.git
[submodule "mobs_ghost_redo"]
	path = mobs_ghost_redo
	url = https://codeberg.org/Hamlet/mobs_ghost_redo.git
[submodule "mobs_umbra"]
	path = mobs_umbra
	url = https://codeberg.org/Hamlet/mobs_umbra.git
[submodule "technic_worldgen"]
	path = technic_worldgen
	url = git@github.com:fluxionary/minetest-technic_worldgen.git
[submodule "artdeco"]
	path = artdeco
	url = https://github.com/TumeniNodes/artdeco.git
[submodule "beautiflowers"]
	path = beautiflowers
	url = https://github.com/minefaco/beautiflowers.git
[submodule "itemplate"]
	path = itemplate
	url = https://github.com/fluxionary/minetest-itemplate.git
[submodule "itemframes"]
	path = itemframes
	url = https://notabug.org/TenPlus1/itemframes.git
[submodule "bbq"]
	path = bbq
	url = https://github.com/fluxionary/minetest-BBQ.git
	branch = yl_stable
[submodule "news"]
	path = news
	url = https://github.com/fluxionary/minetest-news.git
[submodule "biome_cow"]
	path = biome_cow
	url = https://github.com/fluxionary/minetest-biome_cow.git
[submodule "ropes"]
	path = ropes
	url = https://github.com/minetest-mods/ropes.git
[submodule "chesttools"]
	path = chesttools
	url = https://github.com/fluxionary/minetest-chesttools.git
	branch = palette_update
[submodule "ambience"]
	path = ambience
	url = https://notabug.org/TenPlus1/ambience.git
[submodule "planting_interpolation"]
	path = planting_interpolation
	url = https://github.com/fluxionary/minetest-planting_interpolation.git
[submodule "darkage"]
	path = darkage
	url = https://github.com/adrido/darkage.git
[submodule "mobs_balrog"]
	path = mobs_balrog
	url = https://github.com/fluxionary/minetest-mobs_balrog.git
[submodule "elevator"]
	path = elevator
	url = https://github.com/tigris-mt/elevator.git
[submodule "tubelib2"]
	path = tubelib2
	url = https://github.com/joe7575/tubelib2.git
[submodule "._REPOS/techpack"]
	path = ._REPOS/techpack
	url = https://github.com/joe7575/techpack.git
[submodule "basic_materials"]
	path = basic_materials
	url = https://github.com/mt-mods/basic_materials.git
[submodule "xp_redo"]
	path = xp_redo
	url = https://github.com/mt-mods/xp_redo.git
